.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 106px;
}

.pages {
    display: flex;
}

.page {
    width: 22px;
    text-align: center;
    border-bottom: 1px solid #333333;
    margin-left: 10px;

    /*width: 17px;*/
    /*height: 36px;*/

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: 0.03em;

    color: #163F2B;
}

.active{
    border-bottom: 4px solid #333333;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 36px;

    letter-spacing: 0.03em;

    color: #163F2B;
}

.left {
    transform: rotate(180deg);
}

.left img{
    opacity: 0.2;
}

.left .right{
    width: 31px;
    height: 30px;
}