.main-wallpaper {
    height: 666px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    background-image: url("../../img-test/miranda-wallpaper.png");
}

.name-collectionCard {
    margin-bottom: 7rem;

    font-family: 'Harmond';
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 84px;
    text-align: center;

    color: #FBFBFB;
}

.content {
    position: absolute;
    width: 46%;
    height: 108px;
    margin-top: 8rem;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FBFBFB;
}

.show-path{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    width: 203px;
    height: 24px;
    left: 80px;
    top: 599px;

    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 24px;

    color: #FBFBFB;
}

.collection-select{
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
}

.collection-cards{
    margin-top: 80px;
}

.rating{
    display: flex;
    margin-top: 24px;
}
.rating-count{
    margin-left: 10px;
    color:#163F2B;
}

.title-collection{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.03em;

    color: #163F2B;
    margin-top: 24px;
}

.price-collection{
    font-family: 'Libre Franklin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #163F2B;
    margin-top: 30px;
}