.wrapper-main{
    margin-top: 130px;
}

.collection-title {
    /*border: solid 1px red;*/
    width: 41%;

    position: absolute;
    right: 80px;
}

.collection-title h2 {
    font-family: 'Harmond';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 47px;

    color: #163F2B;
}

.collections-main {
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: flex-start;
    justify-content: space-between;
}

.collection-cart {
    /*border: solid 1px rebeccapurple;*/

    /*height: 900px;*/
    width: 46%;
    position: relative;
}

.collection-cart img {
    width: 100%;
}

.collection_description {
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #738C80;
}

.see-collection{
    display: none;

    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;

    position: absolute;
    bottom:86px;
    width: 90%;
    padding: 23px 0;

    background: rgba(36, 41, 52, 0.25);
    background-blend-mode: overlay, normal;
    backdrop-filter: blur(15px);
}

.wrapper-btn{
    display: flex;
    justify-content: center;
}

.name-collection {
    margin-top: 24px;
    font-family: 'Libre Franklin', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: 0.03em;

    color: #163F2B;
}

.collection-cart:hover .see-collection{
display: block;
}

.collections-main .collection-cart:nth-child(2){
   margin-bottom: 880px;
}

.collections-main .collection-cart:nth-child(1){
    margin:  280px 0 ;
    height: 100%;
}



