.bottom-panel {
    position: absolute;
    z-index: 12;
    margin-bottom: 9px;
}

.btn-panel {
    display: flex;
    position: absolute;
    margin-bottom: 129px;
}

.btn-explore,
.shop-now {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: #FBFBFB;

    border: solid 1px #FBFBFB;
    padding: 25px 0;
    width: 292px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

